@use 'variables';

.elenco {
    margin-bottom: 100px;
    
    &__container {
        position: relative;

        &__title {
            border-bottom: solid 2px darken(variables.$corMenu, 50%);
            display: flex;

            @media (max-width: 850px) {
                padding-left: 10px;
            }
        }

        &__list {
            list-style: none;
            display: flex;
            margin-top: 30px;
            align-items: center;
            justify-content: space-between;
            position: relative;

            &__item {
                text-align: center;
                cursor: pointer;
                width: auto;
                padding-left: 65px;

                @media (max-width: 768px) {
                    padding-left: 0;
                    margin-right: 0;
                }

                &__image {
                    position: relative;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    
                    &__img {
                        height: 400px;
                        border-radius: 10%;
                        border: none;
                    }

                    @media (max-width: 800px) {
                        height: 400px;

                        &__img {
                            height: 400px;
                        }
                    }

                    @media (max-width: 600px) {
                        height: 350px;
                        width: 175px;

                        &__img {
                            height: 350px;
                            width: 175px;
                        }
                    }

                    @media (max-width: 600px) {
                        height: 350px;
                        width: 175px;
                    }
                }

                &__before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.5);

                    @media (max-width: 768px) {
                        height: 100%;
                        width: 100%;
                    }
                }

                &__title {
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    
                    @media (max-width: 768px) {
                        font-size: 30px;
                    }
                }

                &--button {
                    text-align: center;
                    margin-right: auto;
                    margin-left: auto;
                    width: 135px;

                    &__button {
                        text-align: center;
                        width: 80px;
                        height: 80px;
                        border: none;
                        border-radius: 50%;
                        cursor: pointer;
                        background-color: variables.$corMenu;

                        &--image1 {
                            padding-right: 5px;
                            padding-top: 5px;
                        }
                        
                        &--image2 {
                            padding-left: 5px;
                            padding-top: 5px;
                        }

                        &--activated {
                            &:hover {
                                background-color: rgb(255, 200, 3);
                            }
                        }
                        
                        &--deactivated {
                            background-color: darken(variables.$corMenu, 70%);
                            cursor: default;
                        }
                        
                        &--left {
                            margin-right: 35px;

                            @media (max-width: 1050px) {
                                margin-right: 0;
                            }
                        }

                        &--right {
                            margin-left: 35px;

                            @media (max-width: 1050px) {
                                margin-left: 0;
                            }
                        }

                        @media (max-width: 768px) {
                            height: 60px;
                            width: 60px;
                        }

                        @media (max-width: 530px) {
                            height: 55px;
                            width: 55px;
                        }

                        @media (max-width: 380px) {
                            height: 50px;
                            width: 50px;
                        }
                        
                    }

                    @media (max-width: 1050px) {
                        &--right {
                            padding-right: 205px;
                            margin-left: 0;
                            padding-left: 0;
                        }

                        &--left {
                            padding-left: 10px;
                            padding-right: 0;
                            margin-left: 0;
                            margin-right: 0px;
                        }
                    }

                    @media (max-width: 768px) {
                        &--right {
                            padding-left: 0px;
                        }
                    }

                    @media (max-width: 600px) {
                        &--right {
                            padding-left: 0;
                        }
                        &--left {
                            padding-right: 50px;
                        }
                    }

                    @media (max-width: 500px) {
                        &--right {
                            padding-left: 0;
                        }
                        &--left {
                            padding-right: 0;
                        }
                    }

                    @media (max-width: 400px) {
                        &--right {
                            padding-left: 0;
                        }
                        &--left {
                            padding-left: 25px;
                        }
                    }

                }

                &:nth-child(1) {
                    padding-left: 30px;

                    @media (max-width: 768px) {
                        padding-left: 0;
                    }
                }

                &:nth-child(6) {
                    padding-right: 30px;

                    @media (max-width: 768px) {
                        padding-right: 0;
                    }
                }
                
                &:hover &__before {
                    background-color: rgba(0, 0, 0, 0);
                }

                &:hover &__title {
                    color: rgb(255, 200, 3);
                }

                &--cast {
                    @media (max-width: 600px) {
                        height: 350px;
                        width: 175px;
                    }
                }
            }

            @media (max-width: 1050px) {
                display: grid;
                grid-auto-flow: column;
                justify-content: center;
                grid-template-columns: 120px 550px 90px 150px;

                &__item--button {
                    grid-area: 1;
                }
                .slider-container {
                    grid-area: 1;
                }
            }

            @media (max-width: 900px) {
                grid-template-columns: 120px 550px 90px 70px;
            }

            @media (max-width: 850px) {
                grid-template-columns: 120px 550px 90px 50px;
            }

            @media (max-width: 800px) {
                grid-template-columns: 120px 290px 90px;
            }

            @media (max-width: 768px) {
                grid-template-columns: 120px 220px 90px;
            }
            
            @media (max-width: 500px) {
                grid-template-columns: 120px 190px 90px;
            }
            
            @media (max-width: 390px) {
                grid-template-columns: 120px 180px 90px;
            }
        }
        
    }
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.slider-container {
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
    position: relative;
    
    @media (max-width: 1050px) {
        width: 100%;
    }
    
    @media (max-width: 768px) {
        width: 200px;
    }

    @media (max-width: 600px) {
        height: 400px;
        width: 175px;
    }
}

.slider-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}
