@use 'variables';

.filmes {
    margin-bottom: 100px;
    
    &__container {
        &__title {
            border-bottom: solid 2px darken(variables.$corMenu, 50%);
            
            @media (max-width: 768px) {
                h2 {
                    width: 25%;
                    text-align: center;
                }
            }

            @media (max-width: 850px) {
                h2 {
                    width: 15%;
                    text-align: center;
                }
            }
        }

        &__list {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 30px;

            &__item {
                text-align: center;
                display: block;
                margin-bottom: 50px;
                width: min-content;
                justify-self: center;
                cursor: pointer;

                &__title {
                    width: 160px;
                    background-color: transparent;
                    border-color: transparent;
                    border-radius: 10%;
                    cursor: pointer;
                    color: variables.$corTitulo;
                    font-size: 20px;
                    line-height: 26px;

                    @media (max-width: 768px) {
                        font-size: 17px;
                        line-height: 27px;
                        width: 200px;
                    }
                    
                    @media (max-width: 850px) {
                        font-size: 17px;
                        line-height: 27px;
                        width: 200px;
                    }
                }

                &__image {
                    height: 400px;
                    border-radius: 10%;
                    border: 3px solid transparent;

                    @media (max-width: 768px) {
                        height: 450px;
                    }
                    
                    @media (max-width: 850px) {
                        height: 400px;
                    }
                }
                
                &:hover &__title {
                    color: rgb(255, 200, 3);
                }
            
                &:hover &__image {
                    border-color: rgb(255, 200, 3);
                }
            }
            
            @media (max-width: 820px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }

        }
    }

    
    @media (max-width: 820px) {
        padding-right: 20px;
        padding-left: 20px;
    }

    @media (max-width: 768px) {
        padding-right: 20px;
        padding-left: 20px;
    }
}