@use 'variables';

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 30px 0;
    background-color: #43053a;
    border-top: 2px solid #fff;

    p {
        color: variables.$corTitulo;
        padding-left: 25px;
        padding-right: 25px;

        @media (max-width: 768px) {
            font-size: 12px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    img {
        height: 30px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
        padding-top: 15px;
        padding-top: 20px;

        img {
            height: 30px;
        }
    }
}